@import "compass/css3/font-face";

// Fonts
// @include font-face("Digital", font-files("/fonts/digital-7.ttf"));
@font-face {
  font-family: "Digital";
  src: url('../fonts/digital-7.ttf') format('truetype');
}
